<div class="outerDiv">
  <div>
    <h2 class="header"><span>A</span>bout me</h2>

    <div class="innerDiv">
      <div class="innerDiv-main">
        <p class="innerDiv-main_summary">
          I'm Moemen Said, full stack web developer using MEAN stack, having
          experience with building and customization web sites and APIs.
        </p>
        <div class="innerDiv-main_points">
          <div class="innerDiv-main_points-point">
            <p class="innerDiv-main_points-point_title">Age</p>
            <p class="innerDiv-main_points-point_desc">25</p>
          </div>
          <div class="innerDiv-main_points-point">
            <p class="innerDiv-main_points-point_title">Freelance</p>
            <p class="innerDiv-main_points-point_desc">Available</p>
          </div>
          <div class="innerDiv-main_points-point">
            <p class="innerDiv-main_points-point_title">Location</p>
            <p class="innerDiv-main_points-point_desc">Egypt, Alex</p>
          </div>
          <div class="innerDiv-main_points-point">
            <p class="innerDiv-main_points-point_title">Reallocate</p>
            <p class="innerDiv-main_points-point_desc">Available</p>
          </div>
          <div class="innerDiv-main_points-point">
            <p class="innerDiv-main_points-point_title">Military</p>
            <p class="innerDiv-main_points-point_desc">Finished</p>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</div>