<div class="outerDiv">
    <div>
        <h2 class="header"><span>M</span>y projects</h2>

        <div class="innerDiv">
            <div class="innerDiv-main">
                <div class="innerDiv-main_points">

                    <div class="innerDiv-main_points-point">
                        <a class="innerDiv-main_points-point_title">• My portofolio</a>
                        <p class="innerDiv-main_points-point_desc">This design idea from <a href="https://themeforest.net/item/ryancv-vcard-resume-wordpress-theme/22890097?s_rank=27">here</a>.</p>
                        <p class="innerDiv-main_points-point_desc">Designed with Angular Framework.</p>
                    </div>

                    <div class="innerDiv-main_points-point">
                        <a class="innerDiv-main_points-point_title" routerLink="/projects/directory">1- Directory</a>
                        <p class="innerDiv-main_points-point_desc">simple website directional helper.</p>
                        <div class="imgDiv" routerLink="/projects/directory">
                            <img src="/assets/images/projects/directory/2.1.png" alt="project image">
                            <div class="imgDiv-view">
                                <svg>
                                    <use xlink:href="/assets/images/icons.svg#view"></use>
                                </svg>
                                <p>View</p>
                            </div>
                        </div>
                    </div>

                    <div class="innerDiv-main_points-point">
                        <a class="innerDiv-main_points-point_title" routerLink="/projects/medkit">2- Medkit</a>
                        <p class="innerDiv-main_points-point_desc">Healthcare community connecting patient with doctors.</p>
                        <div class="imgDiv" routerLink="/projects/medkit">
                            <img src="/assets/images/projects/medkit/medkit.png" alt="project image">
                            <div class="imgDiv-view">
                                <svg>
                                    <use xlink:href="/assets/images/icons.svg#view"></use>
                                </svg>
                                <p>View</p>
                            </div>
                        </div>
                    </div>

                    <div class="innerDiv-main_points-point">
                        <a class="innerDiv-main_points-point_title" routerLink="/projects/bookmark">3- Bookmark</a>
                        <p class="innerDiv-main_points-point_desc">Online books store.</p>
                        <div class="imgDiv" routerLink="/projects/bookmark">
                            <img src="/assets/images/projects/bookmark/bookmark.png" alt="project image">
                            <div class="imgDiv-view">
                                <svg>
                                    <use xlink:href="/assets/images/icons.svg#view"></use>
                                </svg>
                                <p>View</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>