<div class="project">
    <img alt="project logo" class="project-logo" src="/assets/images/projects/directory/logo.png">

    <section class="project-desc">
        <h2 class="seciotnHeader">Description</h2>
        <p>As it said ' the journey of a thousand miles begins with a single step ' this is my first step.</p>
        <p>As technology facilitate our work this my first website that I designed to help me navigating to the most websites I usually use with google and youtube search.</p>
        <div class="point">
            <h3>• Version 1</h3>
            <div class="point-desc">
                <p>In first Version I use user several built Themes and let user choose prefred one and store it in localStorage in browser.</p>
                <div class="point-desc-links">
                    <p>• links :</p>
                    <a target="blank" href="https://github.com/MoemenSaid/Directory1">Github /</a>
                    <a target="blank" href="https://moemen-directory1.web.app/">Live</a>
                </div>
            </div>
        </div>
        <div class="point">
            <h3>• Version 2</h3>
            <div class="point-desc">
                <p>In second version I used GSAP JS library for animation and Mousetrap JS library for handling keyboard shortcuts.</p>
                <div class="point-desc-links">
                    <p>• links :</p>
                    <a target="blank" href="https://github.com/MoemenSaid/Directory2">Github /</a>
                    <a target="blank" href="https://moemen-directory2.web.app/">Live</a>
                </div>
            </div>
        </div>
    </section>

    <section class="project-tech">
        <h2 class="seciotnHeader">Technology used</h2>
        <div>
            <p>HTML5</p>
            <p>CSS3</p>
            <p>Javascript</p>
            <p>Bootstrap 4</p>
            <p>Animate css</p>
            <p>jQuery</p>
            <p>GSAP JS</p>
            <p>Mousetrap JS</p>
        </div>
    </section>

    <section class="project-view">
        <h2 class="seciotnHeader">Overview</h2>
        <div class="project-view_imgs">
            <h3 class="project-view_imgs-header">• Version 1</h3>
            <div class="project-view_imgs-imgsDiv">
                <img src="/assets/images/projects/directory/1.1.png">
                <img src="/assets/images/projects/directory/1.2.png">
                <img src="/assets/images/projects/directory/1.3.png">
                <video muted loop autoplay preload="none">
                    <source src="/assets/images/projects/directory/1.4.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="project-view_imgs">
            <h3 class="project-view_imgs-header">• Version 2</h3>
            <div class="project-view_imgs-imgsDiv">
                <img src="/assets/images/projects/directory/2.1.png">
                <video muted loop autoplay preload="none">
                    <source src="/assets/images/projects/directory/2.2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>

</div>