<div class="project">
    <img alt="project logo" class="project-logo" src="/assets/images/projects/medkit/logo.svg">

    <section class="project-desc">
        <h2 class="seciotnHeader">Description</h2>
        <p>Medkit was my graduation project and its main features are :</p>
        <p><span>• Healthcare Community</span> : Postting health related problems and questions and get responses form doctors from around the world</p>
        <p><span>• Online Clinic</span> : Book an appointment with doctors and chat with them, using our chat service and live video call then get your prescription after it</p>
        <p><span>• Emergency Call</span> : In case you are in danger or you need help You can send an emergency alert to up to 3 people you have selected and trust, with your current location</p>
        <div class="project-desc-links">
            <p>• links :</p>
            <a target="blank" href="https://github.com/mahmoudmuuhammed/graduation-project">Github /</a>
            <a target="blank" href="https://medkitc.web.app">Live</a>
        </div>
    </section>

    <section class="project-tech">
        <h2 class="seciotnHeader">Technology used</h2>
        <div>
            <p class="title">Frontend : </p>
            <p>HTML5</p>
            <p>CSS3</p>
            <p>Javascript</p>
            <p>Bootstrap 4</p>
            <p>Animate css</p>
            <p>Angular 10</p>
        </div>
        <div>
            <p class="title">Backend : </p>
            <p>Firebase</p>
            <p>Google maps API</p>
            <p>Agora API</p>
        </div>
    </section>

    <section class="project-view">
        <h2 class="seciotnHeader">Overview</h2>
        <div class="subSeciotn">
            <h3 class="subSeciotn-header">full responsive</h3>
            <div>
                <img src="/assets/images/projects/medkit/wide.png">
                <img src="/assets/images/projects/medkit/tablet.png">
                <img src="/assets/images/projects/medkit/mobile.png">
            </div>
        </div>
        <div class="project-view_imgsDiv">
            <img src="/assets/images/projects/medkit/doctors.png">
            <img src="/assets/images/projects/medkit/chat.png">
            <img src="/assets/images/projects/medkit/emergency.png">
        </div>
    </section>

</div>