.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    &-logoDiv {
        display: flex;
        align-items: center;
        justify-content: center;

        &_img {
            width: 100px;
        }

        // &_name {
        //     color: #fff;
        //     font: 2rem logoFont;
        //     margin: 0px 10px;

        //     @media (max-width:768px) {
        //         font-size: 1.5rem;
        //     }
        // }
    }

    &-contactDiv {
        button {
            cursor: pointer;
            background: none;
            border: 2px solid;
            font: .9rem logoFont;
            color: #fff;
            line-height: 1;
            margin: 0.5em;
            padding: 1em 2em;
            box-shadow: 0.3em 0.3em 0 0 #fff, inset 0.3em 0.3em 0 0 #fff;
            transition: all .2s ease-in-out;

            &:hover,
            &:focus {
                box-shadow:0 0 0 0 #fff, inset 6em 3.5em 0 0 #fff;
                color: #080808;
            }

        }
    }
}