@import "/src/assets//styles/mixins.scss";
.outerDiv {
  @include outerDiv;

  .innerDiv {
    background-color: #fff;
    border-radius: 10px;

    header {
      position: relative;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: radial-gradient(#ccc, transparent 75%);
      }

      .logoDiv {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);

        svg {
          width: 80px;
          height: 80px;
          fill: $secondary-color;
        }
      }
      button {
        @include buttonFormatter;
        text-shadow: 0px 0px 5px #555;
        padding: 10px 20px;
        position: relative;
        transition: all 0.2s ease-in-out;

        &::before {
          content: url("/assets/images/leftArrow.svg");
          width: 20px;
          height: 20px;
          position: absolute;
          left: 15px;
          top: 50%;
          opacity: 0;
          transform: translateY(-50%);
          transition: inherit;
        }
        span {
          transition: inherit;
          z-index: 1;
        }

        &:hover {
          span {
            margin-left: 5px;
          }
          &::before {
            left: 5px;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .innerDiv {
    margin: 0px 10px;
  }
}

@media (max-width: 768px) {
  .outerDiv {
    .innerDiv {
      header {
        .logoDiv {
          left: 12px;
          transform: unset;
        }
      }
    }
  }
}
