@import "/src/assets/styles/mixins.scss";

.background {
  background-image: linear-gradient(
    to right bottom,
    #0c2b36,
    #015665,
    #008591,
    #00b7b8,
    #12ebd8
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
}

.viewDiv {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.container {
  width: unset;
}

.justifingDiv {
  padding-top: 50px;
}

.loadingDiv {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

@media (max-width: 1200px) {
  .viewDiv {
    height: unset;
    overflow: unset;
  }

  .mainRow {
    justify-content: unset;
    .contentDiv {
      max-width: 700px !important;
    }
  }
}

@media (max-width: 576px) {
  .viewDiv {
    padding: 0px;
  }

  .justifingDiv {
    padding: 0px;
  }
}
