<div class="outerDiv">
    <div>
        <h2 class="header"><span>R</span>esume</h2>
        <div class="innerDiv">

            <section>
                <header>
                    <svg>
                        <use xlink:href="/assets/images/icons.svg#education"></use>
                    </svg>
                    <p>Education</p>
                </header>
                <main>
                    <div class="dataCont">
                        <p class="dataCont-date">2019-2020</p>
                        <p class="dataCont-title">University of San Diego</p>
                        <p class="dataCont-desc"><a>Data Structures and Algorithms Specialization (Coursera platform).</a></p>
                    </div>
                    <div class="dataCont">
                        <p class="dataCont-date">2016-2020</p>
                        <p class="dataCont-title">University of Kafr-elsheikh</p>
                        <p class="dataCont-desc">Bachelor's degree in Computer Science from faculty of Computer and Information Technology.</p>
                    </div>
                </main>
            </section>
            <section>
                <header>
                    <svg>
                        <use xlink:href="/assets/images/icons.svg#work"></use>
                    </svg>
                    <p>Pre-professional experience</p>
                </header>
                <main>
                    <div class="dataCont">
                        <p class="dataCont-date">6/2019 - 9/2019</p>
                        <p class="dataCont-title">.NET Web Developer</p>
                        <p class="dataCont-desc">Summer training for Afaaq initiative for ITI as .NET web developer</p>
                    </div>
                    <div class="dataCont">
                        <p class="dataCont-date">6/2018 - 9/2018</p>
                        <p class="dataCont-title">Frontend Developer</p>
                        <p class="dataCont-desc">at ITSpark company work on front-end delivery for it's main project.</p>
                    </div>
                </main>
            </section>
        </div>
    </div>
</div>