<div class="outerDiv">
    <div>
      <h2 class="header"><span>C</span>ontact</h2>
  
      <div class="innerDiv">
        <div class="innerDiv-main">
          <div class="innerDiv-main_points">
            <div class="innerDiv-main_points-point">
              <p class="innerDiv-main_points-point_title">Address</p>
              <p class="innerDiv-main_points-point_desc">Egypt, Alexandria</p>
            </div>
            <div class="innerDiv-main_points-point">
              <p class="innerDiv-main_points-point_title">Freelance</p>
              <p class="innerDiv-main_points-point_desc">available</p>
            </div>
            <div class="innerDiv-main_points-point">
              <p class="innerDiv-main_points-point_title">Email</p>
              <p class="innerDiv-main_points-point_desc">moemen.said@gmail.com</p>
            </div>
            <div class="innerDiv-main_points-point">
              <p class="innerDiv-main_points-point_title">Phone</p>
              <p class="innerDiv-main_points-point_desc">+2 01156731303</p>
            </div>
          </div>
          
        </div>
      </div>
  
    </div>
  </div>