@import "/src/assets/styles/mixins.scss";

.mainDiv {
  background-color: #fff;
  box-shadow: -15px -15px 0px rgba(#12ebd8, $alpha: 0.2), $shadow;
  border-radius: 10px;
  overflow: hidden;

  &-imgDiv {
    position: relative;
    overflow: hidden;
      img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -66%;
      width: 120%;
      height: 70%;
      background-color: #fff;
    }
    &::before {
      left: -20%;
      transform: rotate(12deg);
    }
    &::after {
      right: -20%;
      transform: rotate(-12deg);
    }
  }

  &-dataDiv {
    font-family: comfortaa;
    text-align: center;
    &_name {
      color: $secondary-color;
    }
    &_jobTitle {
      color: #888;
    }
    &_linksDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;

      svg {
        width: 25px;
        height: 25px;
        fill: #555;
        margin: 10px;
        transition: all 0.2s ease-in-out;

        &:hover {
          fill: $primary-color;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #eee;
  padding: 10px 0;
  a {
    text-decoration: none;
    font-family: comfortaa;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;

    &:hover {
      color: $primary-color;
    }
  }
}

@media (max-width:1200px) {
  .mainDiv {
    box-shadow: $shadow;
  }
}