<div class="mainDiv">
    <main>
        <div class="mainDiv-imgDiv">
            <img alt="ptofile image" src="/assets/images/profileImg.webp">
        </div>
        <div class="mainDiv-dataDiv">
            <h1 class="mainDiv-dataDiv_name">Moemen Said</h1>
            <h3 class="mainDiv-dataDiv_jobTitle">MEAN Stack Developer</h3>
            <div class="mainDiv-dataDiv_linksDiv">
                <a href="#">
                    <svg>
                        <use xlink:href="/assets/images/icons.svg#linkedIn"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="/assets/images/icons.svg#gitHub"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="/assets/images/icons.svg#stackOverflow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://drive.google.com/file/d/1OuCV6LyQigAJjovY8KRobwK81QtleolA/view?usp=sharing">DOWNLOAD CV</a>
    </footer>
</div>