<div class="mainDiv">
    <div class="mainDiv-imgDiv">
        <img alt="ptofile image" src="/assets/images/profileImg.webp">
    </div>
    <div class="mainDiv-dataDiv">
        <main>
            <div style="z-index: 1;">
                <h1 class="mainDiv-dataDiv_name">Moemen Said</h1>
                <h3 class="mainDiv-dataDiv_jobTitle">MEAN Stack Developer</h3>
                <div class="mainDiv-dataDiv_linksDiv">
                    <a href="#">
                        <svg>
                            <use xlink:href="/assets/images/icons.svg#linkedIn"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <svg>
                            <use xlink:href="/assets/images/icons.svg#gitHub"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <svg>
                            <use xlink:href="/assets/images/icons.svg#stackOverflow"></use>
                        </svg>
                    </a>
                </div>
                <footer>
                    <a href="https://drive.google.com/file/d/1n6pYh0PTLXA9tFeF8q3D0c8OQnXTm1F4/view?usp=sharing">DOWNLOAD CV</a>
                </footer>
            </div>
        </main>
    </div>
</div>