body {
  margin: 0px;
  scroll-behavior: smooth;
}

body * {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: comfortaa;
  margin: 0px;
  &::selection {
    background: transparent;
  }
}

@font-face {
  font-family: "logoFont";
  font-display: swap;
  src: url(/assets/fonts/Bungee/Bungee-Regular.woff2) format("woff2"),
    url(/assets/fonts/Bungee/Bungee-Regular.woff) format("woff"),
    url(/assets/fonts/Bungee/Bungee-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "comfortaa";
  font-display: swap;
  src: url(/assets/fonts/Comfortaa/Comfortaa.woff2) format("woff2"),
    url(/assets/fonts/Comfortaa/Comfortaa.woff) format("woff"),
    url(/assets/fonts/Comfortaa/Comfortaa.ttf) format("truetype");
}
