//colors
$primary-color: #093e50;
$secondary-color: #008591;
$black-color: #080808;
$white-color: #eee;
$shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
  0 1px 18px 0 rgb(0 0 0 / 12%);

//mixins
@mixin centeredFlexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fullscreenSize {
  width: 100vw;
  height: 100vh;
}

@mixin classicOuterDiv {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: $shadow;
}

@mixin outerDiv {

  @include classicOuterDiv;
  padding: 20px 40px;
  margin: 10px 0 10px -40px;
  height: calc(100% - 40px);

  @media (max-width: 1200px) {
    margin: 20px auto;
    padding: 20px;
  }
}

@mixin innerDiv {
  height: calc(100% - 40px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color;
  }

  @media (max-width: 1200px) {
    height: auto;
    overflow-y: unset;
  }
}

@mixin buttonFormatter {
  cursor: pointer;
  font-size: 16px;
  font-family: comfortaa;
  padding: 10px 15px;
  border: none;
  background: linear-gradient(135deg, $secondary-color, $primary-color);
  color: #fff;
  border-radius: 10px;
}
