<div class="fixingDiv"></div>
<div class="navigationDiv">
    <div class="navigationDiv-item logo d-none d-sm-flex">
        <svg>
            <use xlink:href="/assets/images/icons.svg#logo"></use>
        </svg>
    </div>
    <div class="navigationDiv-item" routerLink="/about" routerLinkActive="active">
        <svg class="icon">
            <use xlink:href="/assets/images/icons.svg#about"></use>
        </svg>
        <p>ABOUT</p>
    </div>
    <div class="navigationDiv-item" routerLink="resume" routerLinkActive="active">
        <svg class="icon">
            <use xlink:href="/assets/images/icons.svg#resume"></use>
        </svg>
        <p>RESUME</p>
    </div>
    <div class="navigationDiv-item" routerLink="projects" routerLinkActive="active">
        <svg class="icon">
            <use xlink:href="/assets/images/icons.svg#projects"></use>
        </svg>
        <p>PROJECTS</p>
    </div>
    <div class="navigationDiv-item" routerLink="contact" routerLinkActive="active">
        <svg class="icon" style="width: 30px;">
            <use xlink:href="/assets/images/icons.svg#contact"></use>
        </svg>
        <p>CONTACT</p>
    </div>
</div>